*{

    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: 'Courier New', Courier, monospace, cursive;
}
header{
    width: 110%;
    height: 100px;
    display: inline-block;
    
}
.main1{
    width: 40%;
  
    display: inline-block;
    background-color: black;
}
.main2{
width: 50%;
float: left;
height: 100px;
background-color: black;
}


.headword{
font-size: 75px;
margin-top: 15px;
color: white;
}



li{
    float: right;
}
a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    display: inline-block;
    margin: 20px;
}
button{
    float: right;
    width: 200px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    color: crimson;
    font-size: 25px;
    margin-top: 25px;
    margin-right: 20px;

}
button:hover{
    background-color: red;
    color: white;
}
main{
    width: 100%;
  margin: 0;
  padding: 5px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/hero1.webp");
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text button {
    border: none;
   
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }
  footer{
    width: 100%;
    height: 200px;
    background-color: white ;
    text-align: center;
}
.icon-img{
    width: 50px;
    height: auto;
    border-radius: 20px;
    
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    text-align: center;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
    text-align: center;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    text-align: center;
  }.fa-linkedin {
    background: #007bb5;
    color: white;
    text-align: center;
  }
  .fa-instagram {
    background: #125688;
    color: white;
    text-align: center;
  }
